
.App-section-coin-content-input label {
  display: flex;
  flex-direction: column;
  color: white;
}

.App-section-coin-content-input input {
  border: none;
  border-radius: 30px;
  height: 25px;
  padding: 1rem 1rem;
  font-size: 1.3rem;
  width: 40%;
  max-width: 200px;
}

.App-section-coin-content-input label span{
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

@keyframes scaleBorder {
  0% {
    opacity: 1;
    transform: scale(1.0);
  }
  100% {
    opacity: 0;
    transform: scale(1.7);
  }
}

.form-input:focus ~ .button-add-coin:before {
  border: 1px solid #f7a400;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  position: absolute;
  animation: scaleBorder .8s linear 0s 1 normal none running;
  opacity: 1;
  transform: scale(1.0);
}

.form-input:focus ~ .button-add-news:before {
  border: 1px solid #f7a400;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  position: absolute;
  animation: scaleBorder .8s linear 0s 1 normal none running;
  opacity: 1;
  transform: scale(1.0);
}

