.App-section-coin-info {
  border-radius: 4px;
  position: relative;
}

.toBottom {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -40px;
  top: 0;
}

.icon-ctrl {
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: white;
  opacity: 0;
  transform: rotate(180deg) scale(1);
  animation: toBottom 1s cubic-bezier(0, 0.5, 0.5, 1) 0s infinite
    alternate-reverse none running;
}

.icon-ctrl:nth-child(1) {
  animation-delay: -0.4s;
}

.icon-ctrl:nth-child(2) {
  animation-delay: -0.2s;
}

.icon-ctrl:nth-child(3) {
  animation-delay: 0;
}

@keyframes toBottom {
  0% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.App-section-coin-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.App-section-coin-table thead {
  background-color: #3e4491;
  color: #f7a400;
}

.App-section-coin-table thead span {
  display: block;
  padding: 1rem 0;
}

.coin-table-name-head {
  display: block;
  text-align: left;
  margin-left: 0.8rem;
}

.App-section-coin-table thead th:nth-child(1) {
  width: 10%;
}

.App-section-coin-table thead th {
  border-bottom: 1px solid rgb(131, 131, 131);
}

.empty-chart {
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  padding: 1rem;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .App-section-coin-table tbody td {
    border: none;
    border-bottom: 1px solid rgb(131, 131, 131);
    position: relative;
    padding: 1rem 0 1rem 50%;
  }
  .App-section-coin-table tbody td:first-child {
    border-top: 1px solid rgb(131, 131, 131);
  }

  .App-section-coin-table tbody tr {
    font-size: 1rem;
    letter-spacing: 0px;
    margin-bottom: 1rem;
  }

  td:before {
    position: absolute;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "Rank";
    color: #f7a400;
    font-weight: bold;
  }
  td:nth-of-type(2):before {
    content: "Name";
    color: #f7a400;
    font-weight: bold;
  }
  td:nth-of-type(3):before {
    content: "Market Cap";
    color: #f7a400;
    font-weight: bold;
  }
  td:nth-of-type(4):before {
    content: "Price";
    color: #f7a400;
    font-weight: bold;
  }
  td:nth-of-type(5):before {
    content: "Change (24h)";
    color: #f7a400;
    font-weight: bold;
  }

  .content-no-flip-text {
    padding-left: 0vw;
  }
}
