.App-section-main {
  border: 2px solid rgba(247, 164, 0, 1);
  box-shadow: 0 0px 25px 1px rgba(547, 164, 0, 0.2);
  border-radius: 25px;
  width: 90%;
  margin: 6rem auto 0;
  margin-bottom: 2rem;
  padding: 5vw;
}

.App-section-headband {
  background-color: #f7f7f7;
  box-shadow: 0 0px 30px 5px rgba(58, 158, 253, 0.5);
  margin-top: 3rem;
  padding: 0.5rem 0;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}

.App-section-headband-content-coins {
  color: black;
  display: table-cell;
  position: relative;
  animation: move 60s linear 0s infinite normal none running;
}

.App-section-headband-content-coins:hover {
  animation-play-state: paused;
}

.App-section-coin {
  position: relative;
}

.App-section-news {
  color: white;
  margin-top: 8rem;
}

@keyframes move {
  0% {
    left: 0;
  }

  100% {
    left: -50%;
  }
}
