.App-section-coin{
  /* border: 8px solid rgba(247, 164, 0, 1);
  box-shadow: 0 0px 25px 1px rgba(547, 164, 0, .3);
  border-radius: 25px; */
  /* padding: 4rem 4vw; */
  position: relative;
}

.App-section-news {
  color: white;
  margin-top: 8rem;
}

.toBottom {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -40px;
  top: 50%;
}
.icon-ctrl {
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: white;
  opacity: 0;
  transform: rotate(180deg) scale(1.0);
  animation: toBottom 1s cubic-bezier(0, 0.5, 0.5, 1) 0s infinite alternate-reverse none running;
  
}

.icon-ctrl:nth-child(1) {
  animation-delay: -0.40s;
}

.icon-ctrl:nth-child(2) {
  animation-delay: -0.20s;
}

.icon-ctrl:nth-child(3) {
  animation-delay: 0;
}

@keyframes toBottom {
  0% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
} 
