.parent-content-coins {
  display: inline-block;
  margin-right: 3rem;
}

.content-coins {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
}

.coin-name {
  margin-right: 1.5rem;
}

.content-coins .high-percentage,
.content-coins .low-percentage {
  margin-left: 0.5rem;
}

.img-coin-band {
  display: flex;
  align-items: center;
}

.content-img-coin-band {
  display: flex;
  width: 30px;
  margin-right: 10px;
}

.img-coin-band img {
  width: 100%;
  object-fit: cover;
}

.coin-name {
  text-transform: capitalize;
}

.coin-name,
.coin-price {
  color: rgba(0, 0, 0, 0.8);
}

.content-coins .low-percentage {
  color: rgb(225, 29, 37);
}

.content-coins .high-percentage {
  color: rgb(41, 212, 41);
}
